* {
  margin: 0;
  padding: 0;
}
.NavBar {
  background-color: rgb(72, 179, 138);
  height: 10vh;
  display: flex;
}
.Nav {
  border: 1px solid rgb(252, 118, 9);
  margin-left: 1000px;
  display: flex;
  justify-content: space-between;
}
.Nav ul {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.emoji{
    margin-left: 100px;
    padding-top: 4px;
}
.Nav ul li {

  list-style: none;
  text-decoration: none;
  padding: 12px;
  justify-content: space-between;
}
.Home{
    color: white;
}
.Contact{
    color: white;
}