table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #080808;
    padding: 8px;
    text-align: left;
  }
  
  tr:nth-child(even) {
    background-color: #e3eb75;
  }
  
  td:last-child {
    cursor: pointer;
  }
  